<h1>user list page</h1>
<ul>
    <% for (var i=0; i< users.length;i++){ %>
        <li>
            <a href="/user/destroy/<%= users[i].id %>">X</a>
            | <%= users[i].name %>
        </li>
    <% } %>
    <li>
        <a href="/user">to user</a><br>
        <a href="/user/page">create user</a>
    </li>
    
</ul>